.list {
  background-color:#0079BF;
  padding: 20px;
  height: 73%;
}
.main {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 800px){
    .main {
      display: flex;
      flex-direction: column; 
    }
    .list {
      height: fit-content;
    }
  }
  